asgiref==3.11.1
charset-normalizer==3.4.7
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.5
docx2pdf==0.1.8
fire==0.7.1
fonttools==4.63.0
gunicorn==26.0.0
lxml==6.1.1
numpy==2.4.6
opencv-python-headless==4.13.0.92
packaging==26.2
pdf2docx==0.5.13
pillow==12.2.0
psycopg2-binary==2.9.12
PyMuPDF==1.27.2.3
python-docx==1.2.0
python-dotenv==1.2.2
pywin32==311
reportlab==4.5.1
sqlparse==0.5.5
termcolor==3.3.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
whitenoise==6.12.0
